<!doctype html>
<html lang="en">
<head>
</head>

<body>
{% if login==True %}
    {% extends "home.html" %}
    {#home.hmtl로 넘겨줌#}
{% else %}
    <h1>로그인 페이지</h1>
    <form methods="get" id="login" action={{url_for("home")}}>
        <input type="id" id="loginId" name="loginId" placeholder="ID">
        <input type="password" id="loginPw" name="loginPw" placeholder="Password">
        <button type="submit" class="login">로그인</button>
    </form>
    <a href="{{ url_for("signin") }}">회원가입</a>
{% endif %}

</body>
</html>