<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


        <title>보자보자 운송장 서비스 | 등록 페이지</title>

        <!-- style -->
        <style type="text/css">
            * {
                font-family: "Stylish", sans-serif;
            }

            .wrap {
                width: 900px;
                margin: auto;
            }

            #post-box {
                width: 500px;
                margin: 20px auto;
                padding: 50px;
                border: black solid;
                border-radius: 5px;
            }

            .display-4 {
                font-size: 68px;
                margin-bottom: 40px;
            }

            .jumbotron {
                text-align: center;
            }

        </style>
        <script>
            $(document).ready(function () {
                // carrierInfo();
            });

            function regis() {
                let carrier = $('#carrier-txt').val();
                let number = $('#carrier-number').val();

                $.ajax({
                    type: "POST",
                    url: "/regis",
                    data: {carrier_give: carrier, number_give: number},
                    success: function (response) { // 성공하면
                        alert(response["msg"]);
                        window.location.href="/";
                    }
                })
            }

            function carrierInfo() {
                $.ajax({
                    type: "GET",
                    url: "/state",
                    data: {},
                    success: function (response) {
                        let carriers = response['all_carriers'];
                        for (let i = 0; i < carriers.length; i++) {
                            let carrier = carriers[i]['carrier'];
                            let number = carriers[i]['number'];
                            let status = carriers[i]['status'];
                            let desc = carriers[i]['desc'];
                            let loca = carriers[i]['loca'];

                            let temp_html = `<tr>
                                                <th scope="row">${carrier}</th>
                                                <td>${number}</td>
                                                <td>${status}</td>
                                                <td>${desc}</td>
                                                <td>${loca}</td>
                                            </tr>`
                            $('#registration-box').append(temp_html);
                        }

                    }
                })
            }
        </script>

    </head>

    <body>
        <div class="wrap">
            <div class="jumbotron" onclick="window.location.href='/myList'" style="cursor: pointer">
                <h1 class="display-4">보자보자 운송장 서비스!</h1>
                <p class="lead">택배사와 송장번호를 등록해 내가 주문한 택배들 위치를 한 눈에 확인해보세요.</p>
            </div>
            <div id="post-box" class="form-post" style="">
                <div>
                    <div class="form-group">
                        <label for="carrier-txt">택배사</label>
                        <select class="form-control" id="carrier-txt">
                            <option>- 택배사 선택 -</option>
                            <option>DHL</option>
                            <option>Sagawa</option>
                            <option>Kuroneko Yamato</option>
                            <option>Japan Post</option>
                            <option>천일택배</option>
                            <option>CJ대한통운</option>
                            <option>CU 편의점택배</option>
                            <option>GS Postbox 택배</option>
                            <option>CWAY (Woori Express)</option>
                            <option>대신택배</option>
                            <option>우체국 택배</option>
                            <option>한의사랑택배</option>
                            <option>한진택배</option>
                            <option>합동택배</option>
                            <option>홈픽</option>
                            <option>한서호남택배</option>
                            <option>일양로지스</option>
                            <option>경동택배</option>
                            <option>건영택배</option>
                            <option>로젠택배</option>
                            <option>롯데택배</option>
                            <option>SLX</option>
                            <option>성원글로벌카고</option>
                            <option>TNT</option>
                            <option>EMS</option>
                            <option>Fedex</option>
                            <option>UPS</option>
                            <option>USPS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="carrier-number">송장번호</label>
                        <input id="carrier-number" class="form-control">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="regis()">등록</button>
                </div>
            </div>
            <!--
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">택배사</th>
                    <th scope="col">송장번호</th>
                    <th scope="col">현황</th>
                    <th scope="col">상세정보</th>
                    <th scope="col">위치</th>
                </tr>
                </thead>
                <tbody id="registration-box">
                </tbody>
            </table>
            -->
        </div>
    </body>

</html>